body{
Background-image: url(Test.jpg);
Background-color: white;
}
h1{
  color: maroon;
  Font-family:ComicSansMS;
  Text-align: center;
}
h2{

}
h3 {
   color: grey;
}
h4{

}
h5{

}
h6{

}
.question{
 color: blue;
}
