body{
  Background-color: white;
  text-justify: inter-word;
  
}
h1{
  color:white;
  Font-family:Courier New;
  Text-align: center;
  
}
h2{
color:white;
Font-family:Courier New;
}
h3 {
   color: white; 
  Font-family:Courier New;
}
h4{

}
h5{

}
h6{

}
.question{
 color: white;
  Font-family:Courier New;
}

#MainParagraph{
  text-indent: 50px;
  color: white;
  Font-family:Courier New;
  line-height: 1.6em; 
}
#UL1{
  color: lime;
  Font-family:Courier New;
  
}
#UL1title {
  color: white;
  Font-family:Courier New;
}

#ExtraHtml { 
   line-height: 1.6em;
   text-indent: 50px;
   color: white;
  Font-family:Courier New;
}
#CSS { 
  line-height: 1.6em;
  text-indent: 50px;
  color: white;
  Font-family:Courier New;
}

