body{
  Background-color: white;
  text-justify: inter-word;
  
}
h1{
  color:white;
  Font-family:TimesNewRoman;
  Text-align: center;
  
}
h2{
color:white;
}
h3 {
   color: white; 
}
h4{

}
h5{

}
h6{

}
.question{
 color: white;
}

#MainParagraph{
  text-indent: 50px;
  color: white;
}
#UL1{
  color: lime;
}
#UL1title {
  color: white;
}

#ExtraHtml { 
   color: white;
}
